.welcome {
  background: url('/Images/welcome-background.jpg');
  background-size: 100%;
  display: flex; /* should be dinamic */
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  max-width: 600px;
}

.welcome__title {
  color: var(--primary-grey);
  font-size: 80px;
  font-family: myFont;
  letter-spacing: 6px;
  margin: 0;
  line-height: 70px;
}

.welcome__subtitle {
  color: var(--secondary-grey);
  font-size: 22px;
  font-family: myFont;
  letter-spacing: 2px;
  margin: 4px 0 0 0;
}

.welcome__desc {
  color: var(--primary-grey);
  margin: 25px 0 0 0;
}

.name-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 20px 0 0 0;
  column-gap: 15px;
}

.input {
  display: flex;
  position: relative;
  width: 250px;
  align-items: center;
}

.input__name {
  position: relative;
  color: var(--primary-grey);
  width: 100%;
  height: 40px;
  padding: 0 0 0 12px;
  background: transparent;
  border: 1px solid var(--secondary-grey);
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  z-index: 50;
}

.input__label-line {
  position: absolute;
  color: var(--secondary-grey);
  padding: 0 10px;
  background: #fff;
  transition: transform 0.2s ease;
}

.input__name:focus {
  color: var(--primary-grey);
  border: 2px solid var(--primary-grey);
}

.input__name:focus + .input__label-line,
.input__name:valid + .input__label-line {
  color: var(--primary-grey);
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  transform: translate(-5px, -20px) scale(0.8);
  z-index: 100;
}

.continue__btn {
  font-size: 30px;
  color: var(--primary-grey);
  cursor: pointer;
  transition: color 0.2s;
}

.continue__btn:hover {
  color: var(--secondary-grey);
}

.name__error {
  position: absolute;
  top: 30px;
  left: 5px;
  font-size: 14px;
  color: var(--error-color);
  width: 82%;
}

.input__name.error {
  border: 2px solid var(--error-color);
}

.input__label-line.error {
  color: var(--error-color);
}

.input__name:focus + .input__label-line.error,
.input__name:valid + .input__label-line.error {
  color: var(--error-color);
}
