* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: myFont;
  src: url(./assets/fonts/coolvetica.otf);
}

/* --------var styles-------- */
:root {
  --primary-grey: #474747;
  --secondary-grey: #757575;
  --light-grey: #eeeeee;
  --inactive-icons: #bababa;
  --border-light-color: #dfdfdf;
  --error-color: #e62a2a;
  --hover-grey: #3e4043;
}

/* -------Global classes------ */
.hidden {
  display: none;
}

.visible {
  display: block;
}

.visible-flex {
  display: flex;
}

.icon-rotation {
  transform: rotate(180deg);
}

.opacity {
  visibility: hidden;
  opacity: 0;
}

.opacity.active {
  visibility: visible;
  opacity: 1;
}

body {
  margin: 0;
}
